body{
	display: flex;
}

main{
	background: #eaeaea;
	width: 100%;
	background-size: cover;
}

.page-title{
	margin-top: 15px;
	margin-left: 3.5%;
}

.indicators{
	display: flex;
	width: 95%;
	margin: 50px auto;
}

.left-blocks{
	display: flex;
	width: 50%;
	justify-content: space-between;
	margin-right: 5%;
}

.right-blocks{
	display: flex;
	width: 50%;
	justify-content: space-between;
}

.indicator-icon{
	width: 35px;
	height: 35px;
}

.indicator-img-side {
	display: inline-block;
  height: 60px;
  width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: -25px;
}

.green{
	background: green;
}

.orange{
	background: orange;
}

.blue{
	background: #274d97;
}

.pink{
	background: #c32056;
}

.indicator-block{
	width: 45%;
	background: white;
	padding: 0 10px 0 10px;
}

.indicator-head{
	display: flex;
	justify-content: space-between;
}

.indicator-block:hover{
	box-shadow: 6px 10px 3px -3px #ddd;
	transform: translateY(-10px);
	cursor: pointer;
}

.indicator-name-info {
	display: flex;
	flex-direction: column;
}

.indicator-name{
	align-self: flex-end;
	font-size: 0.7em;
}

.indicator-info{
	font-size: 0.9em;
	font-weight: 700;
	align-self: flex-end;
}

.indicator-footer-text{
	font-size: 0.7em;
	display: flex;
	align-items: center;
	margin: 10px 0 10px 0;
}

.indicator-footer-icon{
	width: 10px;
	margin-right: 15px;
}

.charts{
	margin: 50px auto;
	width: 95%;
	display: flex;
	justify-content: space-between;
}

.charts-block{
	width: 30%;
	padding: 0 10px 0 10px;
	background: white;
}

.charts-block:hover{
	box-shadow: 6px 10px 3px -3px #ddd;
	transform: translateY(-10px);
	cursor: pointer;
}

.charts-block-img{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	position: relative;
	top: -20px;
}

.charts-block-img img{
	width: 90%;
	height: 70%;
}

.charts-block-text{
	margin-bottom: 10px;
}

.charts-block-footer {
	font-size: 0.7em;
	display: flex;
	align-items: center;
	margin: 10px 0 10px 0;
}

.charts-block-footer-icon {
	width: 10px;
  margin-right: 15px;
}

.tasks-and-employees {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}

.tasks {
	padding: 0 10px 0 10px;
	background: white;
}

.tasks-header{
	height: 50px;
	position: relative;
	top: -20px;
}

.tasks-menu {
	color: white;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.tasks-menu-item {
	display: flex;
	margin-left:25px ;
}

.tasks-menu-item:hover{
	background: #dead49;
	cursor: pointer;
}

.tasks-menu-item img{
	margin-right: 15px;
}

.tasks-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.tasks-item-text{
	width: calc(100% - 120px);
}
.mr10{
	margin-right: 10px;
}

.tasks-item-icons{
	width: 70px;
	display: flex;
	justify-content: space-between;
}

.tasks-item-icons img{
	width: 25px;
}

.tasks-and-employees-bl-wid{
	width: 45%;
}

.employees{
	background: white;
	padding: 0 10px 0 10px;
}

.employees-header{
	height: 50px;
	position: relative;
	top: -20px;
}

.employees-item{
	display: flex;
}

.employees-item p{
	width: 20%;
	margin: 5px 2% 5px 25px;
}

@media screen and (min-width:800px) and (max-width:1000px){
	.indicators{
		display: flex;
		flex-direction: column;
	}

	.left-blocks{
		width: 100%;
		margin: 0 auto 50px auto;
	}

	.right-blocks{
		width: 100%;
		margin: 0 auto;
	}

	.tasks-and-employees{
		flex-direction: column;
	}

	.tasks-and-employees-bl-wid{
		width: 95%;
		margin: 0 auto;
	}

	.tasks{
		margin-bottom: 50px;
	}
}

@media screen and (min-width:650px) and (max-width:800px){
	.indicators{
		display: flex;
		flex-direction: column;
	}

	.left-blocks{
		width: 100%;
		margin: 0 auto 50px auto;
	}

	.right-blocks{
		width: 100%;
		margin: 0 auto;
	}

	.tasks-and-employees{
		flex-direction: column;
	}

	.tasks-and-employees-bl-wid{
		width: 95%;
		margin: 0 auto;
	}

	.tasks{
		margin-bottom: 50px;
	}

	.menu{
		display: none;
	}
}