body{
	display: flex;
}

.page-title{
	margin-left: 50px;
}

.indicators{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 50px 0 0 0;
}

.left-blocks{
	display: flex;
	justify-content: space-around;
	margin-left: 50px;
}

.right-blocks{
	display: flex;
	justify-content: space-around;
}

.indicator-icon{
	width: 35px;
	height: 35px;
}

.indicator-img-side {
	display: inline-block;
  height: 60px;
  width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	position: relative;
	top: -25px;
}

.green{
	background: green;
}

.indicator-block{
	width: 350px;
	height: 150px;
	margin-right: 50px;
	border: 3px solid black;
}

.indicator-head{
	display: flex;
	justify-content: space-between;
}

.indicator-block:hover{
	box-shadow: 6px 10px 3px -3px #ddd;
}

.indicator-name-info {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.indicator-name{
	align-self: flex-end;
	font-size: 0.7em;
}

.indicator-info{
	font-size: 1.2em;
}

.indicator-block hr{
	margin: 0 10px 0 10px;
}
.indicator-footer-text{
	font-size: 0.5em;
	display: flex;
	align-items: center;
	margin: 10px 0 10px 10px;
}

.indicator-footer-icon{
	width: 10px;
}